.wide-350 {
    width: 350px;
}

.gap-025 {
    gap: 0.25rem;
}

.gap-pb {
    gap: 1rem;
}

.gap-p {
    gap: 2rem;
}

.gap-pl {
    gap: 1rem;
}

.clrBlue {
    font-size: 1.5rem;
    font-weight: 500;
    color: #187bcd ;
}

