<h1>
    book List
</h1>

<p-table [value]="books" [(selection)]="selectedProducts" dataKey="code" [tableStyle]="{'min-width': '10rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>price</th>
            <th>Available</th>
            <th style="width: 4rem"><p-checkbox [binary]="true" inputId="binary" (click)="selectAll()" /></th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.title }}</td>
            <td>{{ product.auther }}</td>
            <td>{{ product.rate | currency: 'USD' }}</td>
            <td>{{ product.isSold ? 'Not Available' :"Available" }}</td>
            <!-- <td><input type="checkbox" id="scales" name="scales" checked /></td> -->
            <td><p-checkbox [(ngModel)]="product.check" [binary]="true" inputId="binary" /></td>
        </tr>
    </ng-template>
</p-table>

<div class="pt-5" class="card flex justify-content-center">
    <button pButton pRipple label="Buy" class="p-button-success" (click)="updateStatus()">
    </button>
</div>