/*-------------------*/
/* Custom properties */
/*-------------------*/

:root {
    --mac-grey: #ddd;
    --light-0: #fff;
    --dark-0: #000;
    --accent-logo: #312E81;
    --secondary-logo: #818CF8;
    --kbtheme-bg: rgba(234, 242, 255, 0.89);
    --powergreen: #2ECD06;
    --warning: #94c507;

    --clr-dark: 242 47% 34%;
    --clr-dark-600: #4f46e5;
    --clr-light: 234 89% 74%;
    --clr-white: 0 0 100%;
    --clr-bgtheme: 216 100% 96%;
    --clr-highlight: 75 93% 40%;
    --clr-text: 357 46% 8%;
    --clr-btn-txt: #6c757d;
    --clr-surface-secondary: #C3C0C0;

    --maskbg: #5c5c5c59;







    /* font-sizes*/
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;











    /*  common colors used for SO , SP ,SS */

    --thead-blue: rgba(66, 131, 171, 1);
    --tbody-evn-aliceBlue: #f0f8ff;
    --paginator-col: #6c757d;
    --paginator-bord: #e9ecef;
    --table-bg: #c2e9fb;
    --noVunum-shadow: hsla(0, 0%, 0%, 0.25);
    --poweryellow: #ffd801;
    --red: #ff0000;
    --orangered: #ff4500;
    --gray: #808080;
    --stateOffocus: #74a200;
    --stateInFocus: #4ba0a1;
    --orange: #ffa500;
    --yellBord: #7A7A71;

    // sellerList colors
    --veh-ingo-bg: #FFDF6C;
    --no-of-sell-bg: #ecf8ff;
    --ptab-highlight: #495057;
    --seller-info: #E1FFFF;
    --lot-info: #FBECBA;





}
